################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/bin/Debug/net10.0
/obj
/obj/*
/obj/Debug/net10.0/StateManagementPoc.AssemblyInfoInputs.cache
/obj/Debug/net10.0/StateManagementPoc.GeneratedMSBuildEditorConfig.editorconfig
